<h3>Estadísticas</h3>
<table>
    <tr>
        <td>Número de preguntas: </td> <td><%= estadisticas.numeroPreguntas %></td>
    </tr>
    <tr>
        <td>Número de comentarios: </td> <td><%= estadisticas.numeroComentarios %></td>
    </tr>
    <tr>
        <td>Número medio de comentarios por pregunta: </td> <td><%= estadisticas.mediaComentariosPregunta %></td>
    </tr>
    <tr>
        <td>Número de preguntas sin comentarios: </td> <td><%= estadisticas.numeroPreguntasSinComentarios %></td>
    </tr>
    <tr>
        <td>Número de preguntas con comentarios: </td> <td><%= estadisticas.numeroPreguntasConComentarios %></td>
    </tr>
</table>